/**
 * Comments
 */
.comments-area .comment-content a {
  word-wrap: break-word;
}
@media screen and (max-width: 992px) {
  .comments-area input[type=text],
  .comments-area input[type=email],
  .comments-area input[type=url] {
    width: 100%;
  }
}

.comments-title,
.pings-title {
  font-weight: 400;
  margin-bottom: 0.833em;
  padding-bottom: 0;
  margin-bottom: 1rem;
  position: relative;
}
.comments-title li.comment,
.pings-title li.comment {
  padding: 37px 0;
  list-style: none;
  clear: both;
}
.comments-title li.comment .children,
.pings-title li.comment .children {
  margin-right: 0;
}
.comments-title li:last-child,
.comments-title li:last-child,
.pings-title li:last-child,
.pings-title li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

li.comment li.parent ol.chiidren {
  margin-right: 0;
}

footer.comment-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-author.vcard {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
}
.comment-author.vcard img.avatar {
  height: auto;
  margin-left: 1em;
  float: right;
  width: 2em;
}

.comment-metadata {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  margin-right: 3.2rem;
  margin-top: -10px;
  float: right;
}
.comment-metadata a {
  color: currentColor;
  font-weight: 300;
}

.comment-content {
  font-weight: 300;
  font-size: 1.1rem;
  margin: 1rem 0;
}

.comment-body .reply {
  padding-top: 1em;
  font-size: 14px;
  margin-bottom: 1rem;
}
.comment-body .reply a {
  border: 1px solid #4D656D;
  color: #fff;
  display: inline-block;
  float: none;
  font-size: 14px;
  line-height: 1.5;
  padding: 1px 15px 2px;
  border-radius: 2px;
  margin-top: 10px;
  text-transform: uppercase;
}
.comment-body .reply a:hover {
  border: 1px solid #4D656D;
  background: #fff;
}

ol.comment-list,
.pings-list {
  list-style: none;
  margin-right: 0;
}
@media (max-width: 575px) {
  ol.comment-list,
  .pings-list {
    padding-right: 0;
  }
  ol.comment-list .children,
  .pings-list .children {
    margin-right: 0;
    padding-right: 1rem;
  }
}
ol.comment-list li:last-child > article,
.pings-list li:last-child > article {
  border-bottom: none;
}

.comment-content a {
  word-wrap: break-word;
}

#commentform input#submit {
  background-color: transparent;
  font-size: 14px;
  border: 2px solid;
  border-radius: 50px;
  padding: 5px 40px;
}

#commentform input#submit:hover {
  color: #fff;
}

.comments-area p.no-comments {
  background-color: transparent;
  padding: 5px;
  font-weight: 700;
}

.comment-respond input[type=checkbox] + label {
  font-size: 1rem;
}

article.comment-body {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 24px;
}

.bypostauthor {
  display: block;
}

p.logged-in-as {
  font-size: 1rem;
}

/* Recent Comments */
section[id*=recent-comments-] ul li {
  position: relative;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.5em;
  margin: 0 0 15px;
  padding-right: 15px;
  padding-left: 35px;
  border-bottom: 1px dashed #cecece !important;
}
section[id*=recent-comments-] ul li span.comment-author-link {
  font-size: 0.9rem;
}
section[id*=recent-comments-] ul li a:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path stroke="white" fill="white" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>');
  background-size: 10px;
  background-repeat: no-repeat;
  background-color: #4D656D;
  background-position: center;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5px;
}
section[id*=recent-comments-] ul li :hover,
section[id*=recent-comments-] ul li :hover:after {
  opacity: unset;
}
section[id*=recent-comments-] ul li :hover :after,
section[id*=recent-comments-] ul li :hover:after :after {
  opacity: unset;
}