/* Galleries
--------------------------------------------- */
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
  }
  .gallery-columns-2 .gallery-item, .gallery-columns-3 .gallery-item  {
	width: 100%;
  }

  @media (min-width:350px) {
	.gallery-columns-3 .gallery-item, .gallery-columns-4 .gallery-item {
		width: 50%;
	}
  }
  
  
  @media (min-width:576px) {
	.gallery-columns-2 .gallery-item {
		width: 50%;
	  }
	  
	  .gallery-columns-3 .gallery-item {
		width: 33.33%;
	  }
	  
	  .gallery-columns-4 .gallery-item {
		width: 25%;
	  }
	  
	  .gallery-columns-5 .gallery-item {
		width: 20%;
	  }
	  
	  .gallery-columns-6 .gallery-item {
		width: 16.66%;
	  }
	  
	  .gallery-columns-7 .gallery-item {
		width: 14.28%;
	  }
	  
	  .gallery-columns-8 .gallery-item {
		width: 12.5%;
	  }
	  
	  .gallery-columns-9 .gallery-item {
		width: 11.11%;
	  }
  }

  
  .gallery-caption {
	display: block;
	height: auto;
	width: auto;
  }
