/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments


// Import variables and mixins.
*/
/*
:root {
    --paddle-color-0: #182230; // H1 - H6
    --paddle-color-1 : #016edb; // button background, body link colour
    --paddle-color-2 : #0357ab; // Link hover color, Button bg color
    --paddle-color-3 : #2a3a51; // Body text color
    --paddle-color-4 : #e7e7e7; // border, input
    --paddle-color-5 : #FFFFFF; // body background color
    --paddle-color-6 : #f1f1f1; // focus, accesibility

}
*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid #ececec;
  margin: 0 2px;
}
fieldset legend {
  float: none;
  width: unset;
  font-size: unset;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

address, blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--paddle-color-3);
  font-family: var(--paddle-font-body-family);
  line-height: 1.5;
  font-size: var(--paddle-font-body-size);
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: var(--paddle-color-0);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: var(--paddle-color-0);
}

h1 {
  font-size: var(--paddle-font-h1-size);
  font-weight: var(--paddle-font-h1-weight);
}

h2 {
  font-size: var(--paddle-font-h2-size);
  font-weight: var(--paddle-font-h2-weight);
}

h3 {
  font-size: var(--paddle-font-h3-size);
}

h4 {
  font-size: var(--paddle-font-h4-size);
}

h5 {
  font-size: var(--paddle-font-h5-size);
}

h6 {
  font-size: var(--paddle-font-h6-size);
}

p {
  margin-top: 0;
  margin-bottom: var(--paddle-paragraph-m-bottom);
}

b,
strong {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  border-left: 4px solid var(--paddle-color-1);
  border-color: var(--paddle-color-1);
  font-style: italic;
  line-height: 1.6667;
  margin-bottom: 1.6667em;
  padding-left: 0.7778em;
}

blockquote p {
  margin-bottom: 1.6667em;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

blockquote cite,
blockquote small {
  color: #333;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

address {
  font-style: italic;
  margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  line-height: 1.2;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 0.8em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help;
}

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

.entry-content,
.entry-summary {
  padding-top: 15px;
}

/*
h1,h1.entry-title, h1.page-title,.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1, .entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	line-height: 1.25;
	@media screen and (min-width: 46.25em) {
		line-height: 1.2;

	}
	@media screen and (min-width: 68.75em) {
		line-height: 1.2308;
	}
}

h2,h2.entry-title,.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2 {
	line-height: 1.25;
	@media screen and (min-width: 46.25em) {
		line-height: 1.2;
	}
	@media screen and (min-width: 68.75em) {
		line-height: 1.2;
	}
	a  {
		text-decoration: none!important;
	}
}

h1,.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	line-height: 1.25;
	@media screen and (min-width: 55em) {
		line-height: 1.2308;
	}
}

h1.page-title { 
	margin-top: 0;
}

h2,.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2, .page-content h2 {
	line-height: 1.2173913043;

	@media screen and (min-width: 68.75em) {
		line-height: 1.2069;
	}
	@media screen and (min-width: 77.5em) {
		line-height: 1.25;
	}
}

h3, .entry-content h3,
.entry-summary h3,
.comment-content h3,
.textwidget h3 {
	line-height: 1.1052631579;
	@media screen and (min-width: 46.25em) {
		margin-top: 0;
	}
	@media screen and (min-width: 68.75em) {
		margin-top:  0;
	}
}
*/
h2 a, h2.entry-title a, .entry-content h2 a,
.entry-summary h2 a,
.comment-content h2 a,
.textwidget h2 a {
  text-decoration: none !important;
}

header::after {
  clear: both;
  content: "";
  display: block;
}

header .term-description {
  display: inline-block;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  font-size: 0.8em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted var(--paddle-color-4);
  cursor: help;
}

mark,
ins {
  text-decoration: none;
}

/* Elements
--------------------------------------------- */
body #page.site {
  overflow-x: hidden;
  word-wrap: break-word;
}

@media screen and (min-width: 800px) {
  body.left-sidebar .content-area,
  body.left-sidebar-woocommerce .content-area {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/**
 * Clearings
 */
.clear:before,
.clear:after,
.site:before,
.site:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.nav-links:before,
.nav-links:after,
.comment-navigation:before,
.comment-navigation:after,
.social-navigation ul:before,
.social-navigation ul:after,
.textwidget:before,
.textwidget:after {
  content: "";
  display: table;
}

.clear:after,
.site:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.nav-links:after,
.comment-navigation:after,
.social-navigation ul:after,
.textwidget:after {
  clear: both;
}

.container:after {
  content: "";
  display: block;
  clear: both;
}

hr {
  background-color: var(--paddle-color-4);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0;
}

.widget ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

.entry-content ul, .entry-content ol {
  padding: revert;
  margin: revert;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
  margin-bottom: 1.2rem;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: var(--paddle-color-1);
  text-decoration: underline;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#masthead.site-header .site-title > a, #masthead a:not(.btn) {
  text-decoration: none;
  color: var(--paddle-color-3);
}
#masthead.site-header .site-title > a:hover, #masthead a:not(.btn):hover {
  color: var(--paddle-color-2);
}

a:active {
  text-decoration: underline;
}

/*
a:not([class*="wp-block-"]):not(.author-link):not(.post-entry-link) {
    text-decoration: underline;
}
*/
.widget-area a, .widget a {
  text-decoration: none;
}

a:not([class*=wp-block-]):hover, a:focus, a:active, .widget-area a:hover {
  color: var(--paddle-color-2);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#primary main .entry-title a {
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

/*
pagination links
*/
@media (min-width: 768px) {
  .navigation.pagination .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.prev.page-numbers, .next.page-numbers {
  width: unset;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 5px;
  padding-left: 5px;
  text-decoration: none;
  border-color: var(--paddle-color-1);
  color: var(--paddle-color-1);
  font-weight: 600;
}

.post-page-numbers, .page-numbers {
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  font-size: 0.8em;
  line-height: calc(2.5em - 4px);
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a.post-page-numbers, a.page-numbers {
  border: 2px solid var(--paddle-color-4);
  color: var(--paddle-color-0);
  background: 0 0;
  border-radius: 12px;
  text-decoration: none;
}

span.post-page-numbers.current, span.page-numbers.current {
  border: 2px solid transparent;
  border-radius: 12px;
  color: white;
  background: var(--paddle-color-1);
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Post Navigation
--------------------------------------------- */
/* Post Navigation, Comment Navigation, Mobile Nav */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}
.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  font-weight: 500;
  padding-top: 2rem;
  border-top: 1px solid var(--paddle-color-4);
}
@media screen and (min-width: 992px) {
  .comment-navigation .nav-links,
  .posts-navigation .nav-links,
  .post-navigation .nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.comment-navigation .nav-links a::before,
.posts-navigation .nav-links a::before,
.post-navigation .nav-links a::before {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  height: 100%;
  -webkit-transform: translateY(calc(50% - 10px));
          transform: translateY(calc(50% - 10px));
}
.comment-navigation .nav-previous,
.comment-navigation .nav-next,
.posts-navigation .nav-previous,
.posts-navigation .nav-next,
.post-navigation .nav-previous,
.post-navigation .nav-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.comment-navigation .nav-previous a,
.comment-navigation .nav-next a,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a,
.post-navigation .nav-previous a,
.post-navigation .nav-next a {
  display: block;
  text-decoration: none !important;
  position: relative;
}
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a {
  margin-left: 30px;
  margin-bottom: 30px;
  float: left;
}
@media screen and (min-width: 992px) {
  .comment-navigation .nav-previous a,
  .posts-navigation .nav-previous a,
  .post-navigation .nav-previous a {
    margin-bottom: 0;
  }
}
.comment-navigation .nav-previous ::before,
.posts-navigation .nav-previous ::before,
.post-navigation .nav-previous ::before {
  left: -30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z'/%3E%3C/svg%3E");
}
@media screen and (min-width: 992px) {
  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    position: relative;
    max-width: 50%;
  }
}
.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a {
  margin-right: 30px;
  margin-left: 30px;
  float: right;
}
@media screen and (min-width: 992px) {
  .comment-navigation .nav-next a,
  .posts-navigation .nav-next a,
  .post-navigation .nav-next a {
    margin-left: 0;
  }
}
.comment-navigation .nav-next ::before,
.posts-navigation .nav-next ::before,
.post-navigation .nav-next ::before {
  right: -30px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z'/%3E%3C/svg%3E");
}
@media screen and (min-width: 992px) {
  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
    text-align: end;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    position: relative;
    max-width: 50%;
  }
}

.post-navigation .nav-links {
  border-top: 1px dotted var(--paddle-color-4);
}

/* Forms
--------------------------------------------- */
button:not(.btn),
button:not(.btn-close),
input[type=button]:not(.btn),
input[type=reset]:not(.btn),
input[type=submit]:not(.btn) {
  background: var(--paddle-color-1);
  border: 1px solid transparent;
  color: var(--paddle-color-5);
  padding: 0.7em 1.5em;
  line-height: 1;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
button:not(.btn):hover,
button:not(.btn-close):hover,
input[type=button]:not(.btn):hover,
input[type=reset]:not(.btn):hover,
input[type=submit]:not(.btn):hover {
  color: var(--paddle-color-5);
  background: var(--paddle-color-2);
}
button:not(.btn):active, button:not(.btn):focus,
button:not(.btn-close):active,
button:not(.btn-close):focus,
input[type=button]:not(.btn):active,
input[type=button]:not(.btn):focus,
input[type=reset]:not(.btn):active,
input[type=reset]:not(.btn):focus,
input[type=submit]:not(.btn):active,
input[type=submit]:not(.btn):focus {
  border-color: var(--paddle-color-4);
}

.btn {
  color: var(--paddle-color-5);
  text-decoration: none !important;
}

.btn-primary {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 600;
  min-width: 167px;
  padding: 14px 47px 14px;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  background-color: var(--paddle-color-1);
}

a.btn.btn-primary:hover,
a.btn.btn-primary:focus {
  background-color: var(--paddle-color-2);
  color: #fff;
}

.btn-outline-primary {
  color: var(--paddle-color-1);
  border-color: var(--paddle-color-1);
  background-color: transparent;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--paddle-color-1);
  border-color: var(--paddle-color-1);
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: var(--paddle-color-0);
  border: 1px solid var(--paddle-color-4);
  border-radius: 3px;
  padding: 9px;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 1em;
  vertical-align: baseline;
  width: 100%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: var(--paddle-color-3);
}

select {
  border: 1px solid var(--paddle-color-4);
}

textarea {
  width: 100%;
}

label > input {
  margin-bottom: 9px;
}

@media (min-width: 768px) {
  label > input {
    max-width: 60%;
  }
}
/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/
/*=========================================
CUSTOM BOOTSTRAP PREFIX WITH .ADP
========================================= */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

/*
.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}
*/
/*
@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
*/
/*
.col-xs-6 {
  width: 50%;
}
*/
@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

/*
@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
*/
/*
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

}
*/
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 1.5rem;
}

.flex-row {
  -ms-flex-direction: row !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
          flex-direction: row !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
          justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  -webkit-box-pack: justify !important;
          justify-content: space-between !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

/* ==========================================================================
     HELPER CLASS
     ========================================================================== */
.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

.m-0 {
  margin: 0 !important;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

/* Made up */
.no-padding {
  padding: 0 !important;
}

/* buttons */
.button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  border-radius: 0px;
  border: 1px solid;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: rgb(var(--adp-primary-color));
  color: #fff;
  border-color: rgb(var(--adp-primary-color));
  cursor: pointer;
}

.button:not(.button-color-dark).has-icon .icon-wrap svg,
.button:not(.button-color-dark).has-icon .icon-wrap svg path {
  fill: #fff;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Site Header - Shared CSS */
.site-header {
  line-height: 1;
}

/*-------------------------------------------- 
Off canvas Navigation 
--------------------------------------------- */
body.logged-in [data-menu=offcanvas] .offcanvas-header {
  margin-top: 50px;
}

.paddle-theme-dialog-overlay[aria-hidden=true] {
  display: none;
}

.paddle-theme-dialog-overlay:not([aria-hidden=true]) {
  display: block;
}

.paddle-theme-dialog-overlay {
  z-index: 1050;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

[data-menu=offcanvas] {
  /*
     .paddle-theme-dialog[aria-hidden="true"] {
         //display: none;
     }
  */
}
[data-menu=offcanvas] .offcanvas-header {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
[data-menu=offcanvas] .offcanvas-header button.btn-close.text-reset {
  position: relative;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 500;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 3rem 0 0;
  min-height: 40px;
  width: 100%;
  border-bottom: 1px solid;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
}
[data-menu=offcanvas] .offcanvas-header button.btn-close.text-reset::after {
  left: calc(100% - 46px);
  top: 0;
  color: currentColor;
}
[data-menu=offcanvas] .offcanvas-header button.btn-close.text-reset .toggle-text {
  display: block;
  width: 100%;
  text-align: right;
}
[data-menu=offcanvas] .paddle-theme-dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1051;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 1rem 1rem;
  overflow-y: auto;
  max-width: 100%;
  background-color: #fff;
  max-width: 120rem;
  width: calc(100% - 4rem);
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  outline: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
[data-menu=offcanvas] .paddle-theme-dialog nav {
  display: block;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul {
  display: block;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul li {
  position: relative;
  border-style: solid;
  border-color: #ededed;
  border-width: 0.1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul li .link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul li .link-wrap a {
  display: block;
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  width: 100%;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul li button.toggle.submenu-expand {
  background: unset;
  border: unset;
  color: unset;
  margin-top: -1px;
  border-left: 0.1rem solid #ededed;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0 0.9rem;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul#offcanvas-menu-items {
  margin: 0;
  padding: 0;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul#offcanvas-menu-items li:first-child {
  border-top: 1px solid transparent;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul#offcanvas-menu-items > li.header-cta-menu {
  border-top: 1px solid transparent;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul#offcanvas-menu-items > li.header-cta-menu .btn {
  letter-spacing: 1px;
  font-size: 100%;
  text-transform: uppercase;
}
[data-menu=offcanvas] .paddle-theme-dialog nav ul:not(.sub-menu) > li > div > a,
[data-menu=offcanvas] .paddle-theme-dialog nav ul:not(.children) > li > div > a {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.0375em;
}
[data-menu=offcanvas] .paddle-theme-dialog nav .sub-menu,
[data-menu=offcanvas] .paddle-theme-dialog nav .children {
  width: 100%;
  display: none;
  margin-left: 0;
  padding-left: 1rem;
}
[data-menu=offcanvas] .paddle-theme-dialog nav .sub-menu ul,
[data-menu=offcanvas] .paddle-theme-dialog nav .children ul {
  margin-left: 0;
  padding-left: 1.1rem;
}
[data-menu=offcanvas] .paddle-theme-dialog nav .sub-menu.active-panel,
[data-menu=offcanvas] .paddle-theme-dialog nav .children.active-panel {
  display: block;
}
[data-menu=offcanvas] .paddle-theme-dialog nav .menu-item:hover > span svg,
[data-menu=offcanvas] .paddle-theme-dialog nav .submenu-expand svg {
  height: 0.9rem;
  fill: currentColor;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
  width: 1.5rem;
}
[data-menu=offcanvas] .paddle-theme-dialog nav .menu-item:hover > span svg,
[data-menu=offcanvas] .paddle-theme-dialog nav .submenu-expand.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
[data-menu=offcanvas] .show-dialog {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
[data-menu=offcanvas] .hide-dialog {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: var(--paddle-color-6);
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: var(--paddle-color-1);
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- 
@import 'utilities/alignments';
*/