/**
 * Comments
 */

.comments-area {
  .comment-content a {
    word-wrap: break-word;
  }
  input[type='text'],
  input[type='email'],
  input[type='url'] {
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}

.comments-title,
.pings-title {
  font-weight: 400;
  margin-bottom: 0.833em;
  padding-bottom: 0;
  margin-bottom:1rem;
  position: relative;

  li.comment {
    padding: 37px 0;
    list-style: none;
    clear: both;
    .children {
      margin-left: 0;
    }
  }
  li:last-child,
  li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
li.comment {
  li.parent {
    ol.chiidren {
      margin-left: 0;
    }
  }
}

footer.comment-meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.comment-author.vcard {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  img.avatar {
    height: auto;
    margin-right: 1em;
    float: left;
    width: 2em;
  }
}
.comment-metadata {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  margin-left: 3.2rem;
  margin-top: -10px;
  float: left;
  a {
    color: currentColor;
    font-weight: 300;
  }
}
.comment-content {
  font-weight: 300;
  font-size: 1.1rem;
  margin: 1rem 0;
}
.comment-body .reply {
  padding-top: 1em;
  font-size: 14px;
  margin-bottom: 1rem;
  a {
    background: $color__primary;
    border: 1px solid $color__primary;
    color: #fff;
    display: inline-block;
    float: none;
    font-size: 14px;
    line-height: 1.5;
    padding: 1px 15px 2px;
    border-radius: 2px;
    margin-top: 10px;
    text-transform: uppercase;
    //text-decoration: none !important;
  }
  a:hover {
    border: 1px solid $color__primary;
    background: #fff;
    color: $color__primary;
  }
}

ol.comment-list,
.pings-list {
  list-style: none;
  margin-left: 0;

  @media (max-width: 575px) {
    padding-left: 0;
    .children {
      margin-left: 0;
      padding-left:1rem;
    }
  }
  li:last-child> article {
    border-bottom: none;
  }
}

.comment-content a {
  word-wrap: break-word;
}
#commentform input#submit {
  background-color: transparent;
  font-size: 14px;
  border: 2px solid;
  border-radius: 50px;
  padding: 5px 40px;
  color: $color__primary;
}
#commentform input#submit:hover {
  color: #fff;
  background-color: $color__primary;
}

.comments-area p.no-comments {
  background-color: transparent;
  padding: 5px;
  font-weight: 700;
}
.comment-respond input[type='checkbox'] + label {
  font-size: 1rem;
}

article.comment-body {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 24px;
}

.bypostauthor {
  display: block;
}
p.logged-in-as {
  font-size: 1rem;
}

/* Recent Comments */
section[id*='recent-comments-'] {
  ul li {
    position: relative;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.5em;
    margin: 0 0 15px;
    padding-left: 15px;
    padding-right: 35px;
    border-bottom: 1px dashed #cecece !important;
    span.comment-author-link {
      font-size: 0.9rem;
    }
    a:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path stroke="white" fill="white" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>');
      background-size: 10px;
      background-repeat: no-repeat;
      background-color: $color__primary;
      background-position: center;
      opacity: 0.6;
      width: 20px;
      height: 20px;
      transition: 1s;
      border-radius: 5px;
    }
    :hover,
    :hover:after {
      opacity: unset;
      :after {
        opacity: unset;
      }
    }
  }
}
