/**
 * Comments
 */
 $color__primary: #4D656D;//#dd9933;

.comments-area {
  @media (min-width:768px) {
    li.comment {
      padding: 2em 1rem 0;
      background: white;
      margin-bottom: 1rem;
      border: 1px solid #e7e7e7;
      border-radius: 9px;
    }
  }
  .comment-content a {
    word-wrap: break-word;
  }
  input[type='text'],
  input[type='email'],
  input[type='url'] {
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  p {
    margin-bottom: 0.9rem;
  }
}

.comments-title,
.pings-title {
  font-weight: 400;
  margin-bottom: 0.833em;
  padding-bottom: 0;
  margin-bottom:1rem;
  position: relative;

  li.comment {
    padding: 37px 0;
    list-style: none;
    clear: both;
    .children {
      margin-left: 0;
    }
  }
  li:last-child,
  li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
li.comment {
  li.parent {
    ol.chiidren {
      margin-left: 0;
    }
  }
}

footer.comment-meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media (min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.comment-author.vcard {
  display: block;
  @media (min-width:768px) {
    display: flex;
    align-items: center;
  }
  .says {
    padding-left: 3px;
  }
  img.avatar {
    height: auto;
    margin-right: 1em;
    margin-top: 5px;
    float: left;
    width: 2em;
    border-radius: 50%;
  }
}
.comment-metadata {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  margin-left: 3.2rem;
  margin-top: -15px;
  float: left;
  a {
    color: currentColor;
    &.comment-edit-link {
      color: var(--paddle-color-1);
    }
  }
  
}
.comment-content {
  margin: 1rem 0 0;
}
.comment-body .reply {
  font-size: 14px;
  margin-bottom: 1rem;
  a {
    border: 1px solid transparent;
    background: var(--paddle-color-1);
    color: white;
    display: inline-block;
    float: none;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
  }
  a:hover {
    border: 1px solid var(--paddle-color-1);
    background: #fff;
    color: var(--paddle-color-1);
   
  }
}

ol.comment-list,
.pings-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  .children {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 30px;
    &::before {
      display: inline-block;
      font-size: 1em;
      font-weight: 400;
      line-height: 100%;
      content: "\21AA";
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='48.000000pt' height='48.000000pt' viewBox='0 0 48.000000 48.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,48.000000) scale(0.100000,-0.100000)'%0Afill='%234D656D' stroke='none'%3E%3Cpath d='M100 385 l-44 -45 47 -47 c36 -37 49 -45 59 -35 9 9 7 17 -12 37%0Al-23 25 102 0 c95 0 104 -2 126 -25 23 -23 25 -31 25 -130 0 -100 1 -105 21%0A-105 20 0 21 4 17 115 -3 114 -3 115 -36 147 -32 33 -33 33 -143 36 l-111 4%0A22 23 c20 21 21 45 1 45 -4 0 -27 -20 -51 -45z'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 24px;
      position: absolute;
      transform: rotate(90deg);
      top: 10px;
      left: 0;
    }
  }
  @media (max-width: 575px) {
    padding-left: 0;
    .children {
      margin-left: 0;
      padding-left:1.7rem;
    }
  }
  li:last-child> article {
    border-bottom: none;
  }
}

ol.comment-list {
  li.trackback {
    .comment-body {
      margin-bottom: 5px;
    }
  }
  li.pingback {
    .comment-body {
      margin-bottom: 5px;
    }
  }
}

.comment-content a {
  word-wrap: break-word;
}
#commentform input#submit {
  background-color: transparent;
  font-size: 14px;
  border: 1px solid var(--paddle-color-2);
  color: var(--paddle-color-2);
  &:hover {
    background-color: var(--paddle-color-2);
    color: white;
  }
}

.comments-area p.no-comments {
  background-color: transparent;
  padding: 5px;
  font-weight: 700;
}
.comment-respond input[type='checkbox'] + label {
  font-size: 1rem;
}

article.comment-body {
  border-bottom: 1px solid #cfcfcf;
  @media (min-width:768px) {
    border-bottom: 0;
  }
  margin-bottom: 24px;
}

.bypostauthor {
  display: block;
}
p.logged-in-as {
  font-size: 1rem;
}

#reply-title>small {
  padding-left: 5px;
}

/* Recent Comments */
section[id*='recent-comments-'] {
  ul li {
    position: relative;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.5em;
    margin: 0 0 15px;
    padding-left: 15px;
    padding-right: 35px;
    border-bottom: 1px dashed #cecece !important;
    span.comment-author-link {
      font-size: 0.9rem;
    }
    a:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path stroke="white" fill="white" d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>');
      background-size: 10px;
      background-repeat: no-repeat;
      background-color: var(--paddle-color-1);
      background-position: center;
      opacity: 0.6;
      width: 20px;
      height: 20px;
      transition: 1s;
      border-radius: 5px;
    }
    :hover,
    :hover:after {
      opacity: unset;
      :after {
        opacity: unset;
      }
    }
  }
}
