.archive h1.page-title {
    margin-bottom: 2rem;
    @media (min-width:992px) {
        margin-bottom: 4rem;
    }
    margin-top: 2rem;
}
.archive .archive-grid.row  {
    a.post-thumbnail.thumb-large  {
        width:100%;
    }
    .entry-title {
        line-height: 1.2;
        margin-bottom: .6308em;
        word-break: break-all;
        @media screen and (min-width: 992px) {
            line-height: 1;
        }
    }
    h2::before {
        content:unset;
    }
    a.post-entry-link {
        font-size: 1.2rem;
        font-weight: 700;
        
    }
}
.archive-grid.row article {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 15px 15px 15px;
    position: relative;
    width:100%;
    box-shadow: 0 8px 30px rgba(2, 59, 109, .1);
    transform: translateY(0);
    transition: transform 350ms cubic-bezier(0.63, 0.64, 0.3, 1);
    height: 100%;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
    transform: translateY(-10px);
    }

    .entry-meta {
        display:inline-block;
    }
   
    .thumbnail-container {
        a.post-thumbnail {
            padding-top:0; 
        }
        &::before, &::after {
            top:0;
        }
        a.post-thumbnail.thumb-large {
            width:100%;
        }
    }
}
.archive-grid.row>div {
    justify-content: center;
}
@media  screen and (min-width:768px) {
    .archive-grid.row>div:not(.grid-xtra):nth-child(2n+1)  {
        border-right: 3px dashed #e5e5e5;
        margin-bottom: 35px;
    }  

    .archive-grid.row>div.grid-xtra:nth-child(1n+1)  {
        border-right: 3px dashed #e5e5e5;
        margin-bottom: 35px;
    }  
    .archive-grid.row>div.grid-xtra:nth-child(3n)  {
        border-right: none;
    }
    .archive-grid.row>div a.thumb-large img {
        width:100%;
    }
}

.category-grid-layout {

    .archive-grid.row {
        .entry-meta {
            small .byline {
                float: left;
                margin-right: 9px;
            }
        }
        .entry-content {
            padding-bottom: 0;
        }
        span.posted-on {
            position: relative;
            font-size: 14px;
            position: relative;
            float:left;
            color: $color__small;
            margin-left: 30px;
            margin-bottom: 9px;
            margin-right: 9px;
        }
        a.post-thumbnail {
            display: block;
        }
    }
   
}
