.archive h1.page-title {
    margin-bottom: 2rem;
    @media (min-width:992px) {
        margin-bottom: 4rem;
    }
}
.archive .archive-grid.row  {
    a.post-thumbnail  {
        width:100%;
    }
    .entry-title {
        line-height: 1.2;
        margin-bottom: .6308em;
        word-break: break-all;
        @media screen and (min-width: 992px) {
            line-height: 1;
        }
    }
    h2::before {
        content:unset;
    }
    a.post-entry-link {
        font-size: 1.2rem;
        font-weight: 700;
        
    }
}
.category-grid-layout {

    .archive-grid.row {
        .entry-meta {
            small .byline {
                float: left;
                margin-right: 9px;
            }
        }
        .entry-content {
            padding-bottom: 0;
        }
        span.posted-on {
            position: relative;
            font-size: 14px;
            position: relative;
            float:left;
            color: $color__small;
            margin-left: 30px;
            margin-bottom: 9px;
            margin-right: 9px;
        }
        a.post-thumbnail {
            display: block;
            padding-top: 3.5rem;
        }
    }
   
}
