.site-content {
  margin: 0 0 40px;
}
.home .site-content {
  padding-top: 30px;
}
@media screen and (min-width: 992px) {
  .site-content {
    padding: 35px 0;
  }
}

.container-fluid.full-width-container {
  @media (min-width: 1200px) {
    padding-left: 4.6875%!important;
    padding-right: 4.6875%!important;
  }

}
#primary.site-main:not(.full-width-content), aside#secondary.widget-area:not(.full-width-content) {
	margin: 0 auto;
    max-width: 740px;
}

article.sticky .thumbnail-container {
  position: relative;
  display: inline-block;
}

article.sticky .thumbnail-container::before, article.sticky .thumbnail-container::after {
  content: "";
  padding: 9px 9px;
  display: inline-block;
  min-width: 18px;
  min-height: 18px;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  left: 2rem;
  min-width: 46px;
  min-height: 40px;
  padding: 7px 11px;
}

article.sticky .thumbnail-container::before {
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center;
  filter: invert(1);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTEgMTdoMnY1bC0yIDJ2LTd6bTMuNTcxLTEyYzAtMi45MDMgMi4zNi0zLjA4OSAyLjQyOS01aC0xMGMuMDY4IDEuOTExIDIuNDI5IDIuMDk3IDIuNDI5IDUgMCAzLjc3MS0zLjQyOSAzLjI5MS0zLjQyOSAxMGgxMmMwLTYuNzA5LTMuNDI5LTYuMjI5LTMuNDI5LTEweiIvPjwvc3ZnPg==");
}
article.sticky .thumbnail-container::after {
  z-index: 1;
  background: $color__primary;
  box-shadow: -25px 20px 0 $color__primary;
}
 //Full width image
 @media (max-width: 992px) {
  figure.thumbnail-post-single {
    border: 0!important;
    margin-right: -15px!important;
    margin-left: -15px!important;
    padding: 0!important;
  }
  .home.blog .thumbnail-container, .archive.category .thumbnail-container {
    margin-right: -15px!important;
    margin-left: -15px!important;
    a {
      padding: 0!important;
      width: 100%!important;
    }
  }
}

.post,
.page:not(body) {
	margin: 0 0 4em;
}

header.entry-header {
  padding: 0 0 2rem;
}

article {
  word-wrap: break-word;
  .entry-meta {
    padding-bottom: 1.25em;
    a {
      color: $color__small;
    }
  }
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
  padding: 3rem 0 4rem;
  @media (max-width: 575px) {
    padding: 2.5rem 0 3rem;
  }
  form {
    margin-bottom: 40px;
}
}
 .entry-summary {
  padding-bottom: 4rem;
  @media (max-width: 575px) {
    padding-bottom: 3rem;
  }
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

  /* Pagination  */
  
  .blog-pagination {
	margin-bottom: 4rem;
  }
  
  .pagination > .btn {
	border-radius: 2rem;
  }
  
  /*
   * Blog posts 
   */
  
  .blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
  }


  /*
  * Featured Image Header
  */ 
  header.entry-header.has-post-thumbnail {
    padding-top: 9.0625rem;
    float: none;
    position: relative;
    width: 100%;
    padding-right: .5625rem;
    padding-left: .5625rem;
      .header__text {
        position: static;
        width: 100%;

        .page__title-wrap {
          background-color: #fff;
          padding: 2.5rem 2rem 2rem;
          width: 100%;

            .page__title {
              padding-bottom: .75rem;
              word-break: keep-all;
              margin: 0;

              .entry-title {
                word-break: keep-all;
                margin: 0;
            }
          }

          .page__description {
            color: #000;
            line-height: 1.44;
            margin: 0 0 1.5rem;
            display: block;
            padding-right: 0;
          }

        }

        .author-bio-info {
          justify-content: flex-end;
					display: flex;
					flex-direction: column;
          align-items: center;
          margin:1rem 0;
          
          a.author-link {
            display: flex;
            align-items: center;
            img {
              border-radius: 50%;
            }
            .author-name {
              padding: 0.7rem;
            }
          }
        }
    }

    .header__image {
      left: -50vw;
      margin-left: 50%;
      max-width: none;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: -1;
      bottom: 0;
      height: 14.375rem;

      img {
        height: 100%;
        max-width: none;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }
  }

}

/**
* Featured image header style 2
*/ 
@media print, screen and (min-width: 48em) {
  header.entry-header.has-post-thumbnail.hero-full-width {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    min-height: 34.375rem;
    padding-right: .75rem;
    padding-left: .75rem;

    .header__text { 
      margin-bottom: 1.25rem;

      .page__title-wrap {
        background-color: rgba(255,255,255,0.9);
        padding: 2rem 3rem 2rem;
        max-width: unset;

        .entry-title {
          padding-bottom: 1rem;
        }
      }

      .author-bio-info {
        align-items: flex-end;
        /*style 2*/ 
        margin: 1rem 0;
        max-width: 100%;
        flex: 100%;

        small {
          display: block;
          background-color: rgba(0, 0, 0, 0.9);
          color:#fff;
          padding: .3rem;
        }
      }
    }

    .header__image {
      bottom: 0;
      height: 100%;
    }
  }
}

@media print, screen and (min-width: 67.5625em) {
  header.entry-header.has-post-thumbnail.hero-full-width {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    position: relative;

    .header__text { 
      margin-bottom: 1.25rem;

      .page__title-wrap {
        flex: unset;
        max-width: 70%;
        .page__title {
          padding-bottom: 1.5rem;
        }
      }
    }
  }

}

article {
  @media (min-width: 40em) {
    h1.entry-title {
      font-weight: 900;
    }
  }

  .by-author {
    font-size: 1rem;
    margin: 2rem 0;
    color: #999;
    a {
      color: #999;
    }
  }  

  .entry-footer {
    font-size: 1rem;
    padding-bottom: 1.5rem;
    
    .cat-links, .tags-links, .posted-on, .comments-link {
      position: relative;
      display: inline-block;
      width:100%;
      color: #999;
      margin-left:30px;
      margin-bottom:9px;
    }

    .cat-links {
      a {
        background: #efefef;
        color: #999;
        padding: 5px 15px;
        border-radius: 45px;
        margin-right: 5px;
        display: inline-block;
        line-height: 1;
        margin-bottom: 4px;
        //text-decoration: none!important;
      }
    }
    a.post-edit-link {
      padding: 5px 12px;
      letter-spacing: .8px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 5px;
  }
  }
  .cat-links::before, .tags-links::before, .posted-on::before, .comments-link::before, small .byline::before {
    content: '';
    position: absolute;
    width:20px;
    height:20px;
    top: 0;
    left: -30px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .tags-links::before {
    top:5px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOS43NzcgMmwxMS4zOTQgMTEuMzk1LTcuNzggNy43NzctMTEuMzkxLTExLjM5MXYtNy43ODFoNy43Nzd6bS44MjgtMmgtMTAuNjA1djEwLjYwOWwxMy4zOTEgMTMuMzkxIDEwLjYwOS0xMC42MDQtMTMuMzk1LTEzLjM5NnptLTQuMTA0IDVjLjQgMCAuNzc2LjE1NiAxLjA1OS40MzguNTg1LjU4Ni41ODUgMS41MzkuMDAxIDIuMTIzLS4yODUuMjgzLS42NjEuNDM5LTEuMDYxLjQzOXMtLjc3Ny0uMTU2LTEuMDYtLjQzOGMtLjU4NS0uNTg2LS41ODYtMS41MzgtLjAwMS0yLjEyMy4yODQtLjI4My42NjEtLjQzOSAxLjA2Mi0uNDM5em0wLTFjLS42NDEgMC0xLjI4LjI0NC0xLjc2OS43MzItLjk3Ny45NzYtLjk3NyAyLjU1OCAwIDMuNTM2LjQ4OS40ODggMS4xMjguNzMyIDEuNzY4LjczMnMxLjI3OS0uMjQ0IDEuNzY4LS43MzNjLjk3Ny0uOTc3Ljk3Ny0yLjU1OCAwLTMuNTM3LS40ODgtLjQ4Ni0xLjEyNy0uNzMtMS43NjctLjczeiIvPjwvc3ZnPg==") 
  }
  .cat-links::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMSA1aDEzdjE3aC0yNHYtMjBoOGwzIDN6bS04IDE2di0xMmgyMHYtM2gtMTIuNDE0bC0zLTNoLTYuNTg2djE4aDJ6bTEgMGgxOXYtMTFoLTE5djExeiIvPjwvc3ZnPg==");
  }
  .posted-on::before {
    background-image: url( "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0xIDEydi02aC0ydjhoN3YtMmgtNXoiLz48L3N2Zz4=" );
  }
  .comments-link::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yNCAyMGgtM3Y0bC01LjMzMy00aC03LjY2N3YtNGgydjJoNi4zMzNsMi42NjcgMnYtMmgzdi04LjAwMWgtMnYtMmg0djEyLjAwMXptLTE1LjY2Ny02bC01LjMzMyA0di00aC0zdi0xNC4wMDFsMTggLjAwMXYxNGgtOS42Njd6bS02LjMzMy0yaDN2MmwyLjY2Ny0yaDguMzMzdi0xMGwtMTQtLjAwMXYxMC4wMDF6Ii8+PC9zdmc+");
  }
  small .byline::before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmMyLjc1NyAwIDUgMi4yNDMgNSA1LjAwMSAwIDIuNzU2LTIuMjQzIDUtNSA1cy01LTIuMjQ0LTUtNWMwLTIuNzU4IDIuMjQzLTUuMDAxIDUtNS4wMDF6bTAtMmMtMy44NjYgMC03IDMuMTM0LTcgNy4wMDEgMCAzLjg2NSAzLjEzNCA3IDcgN3M3LTMuMTM1IDctN2MwLTMuODY3LTMuMTM0LTcuMDAxLTctNy4wMDF6bTYuMzY5IDEzLjM1M2MtLjQ5Ny40OTgtMS4wNTcuOTMxLTEuNjU4IDEuMzAyIDIuODcyIDEuODc0IDQuMzc4IDUuMDgzIDQuOTcyIDcuMzQ2aC0xOS4zODdjLjU3Mi0yLjI5IDIuMDU4LTUuNTAzIDQuOTczLTcuMzU4LS42MDMtLjM3NC0xLjE2Mi0uODExLTEuNjU4LTEuMzEyLTQuMjU4IDMuMDcyLTUuNjExIDguNTA2LTUuNjExIDEwLjY2OWgyNGMwLTIuMTQyLTEuNDQtNy41NTctNS42MzEtMTAuNjQ3eiIvPjwvc3ZnPg==");
  }
} 
.archive, .category .entry-footer {
  border-bottom: 1px solid #ececec;
}
.entry-footer {
  span a {
    color: $color__small;
    &:hover {
      color: $color__primary;
    }
  }
}
.archive .entry-content, .category .entry-content {
  color: #757575;
}
span.tags-links a {
  padding: 2px 8px;
  display: inline-block;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  //text-decoration: none!important;
}

small .byline{
  position: relative;
  display: block;
  color: #999;
  margin-left:30px;
  margin-bottom:9px;
}

span.posted-on {
  position: relative;
  position: relative;
  color: #999;
  margin-left: 30px;
  margin-bottom: 9px;
  margin-right: 9px;
}
span.edit-link {
  float: right;
}

.wp-block-image figcaption, .thumbnail-post-single figcaption, .editable figcaption, .wp-caption .wp-caption-text {
  margin: 0;
  padding: 0;
  clear: both;
  padding: 15px;
  font-size: .75em;
  background: #f8f9fa;
}

@media (min-width: 992px){
  .content-area, .widget-area {
    margin-bottom: 2.617924em;
  }
}

.article-more-link {
  position:relative;
  display:inline-block;
  margin:0;
  height: 40px;
}
.read-more {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 10px 16px 10px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.read-more:before {
  display: block;
  content: '';
  height: 2px;
  width: 18px;
  background-color: $color__primary;
  position: absolute;
  top: calc(20px - 4px);
  right: 4rem;
  opacity: 0;
  transition: all .3s ease-out 0s;
}
.read-more:after {
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  border: 2px solid;
  border-top-width: 0;
  border-left-width: 0;
  position: absolute;
  top: calc(20px - 7px);
  right: 8px;
  transition: all .3s ease-out 0s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.article-more-link:hover a {
  //text-decoration: none!important;
  text-decoration: none;
}
.article-more-link:hover .read-more:before {
  right: -3px;
  opacity: 1;
}
.article-more-link:hover .read-more:after {
  right: -3px;
  border-top-width: 0;
  border-left-width: 0;
  border: 2px solid $color__primary;
}

.home.blog a.post-thumbnail, .archive.category a.post-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  text-align: center;
  width: calc(100% - 2rem);
}

@media (min-width: 992px) {
  .home.blog a.post-thumbnail, .archive.category a.post-thumbnail {
    width: calc(100% - 8rem);
  }
}

/** Page Template **/ 
body.page-template.page-template-fullwidth-no-margin {
	#content>.container {
    max-width: unset;
    width:100%;
  }
}

body.page-template.page-template-fullwidth-no-title {
	#content>.container {
    max-width: unset;
    width:100%;
  }
  #content.site-content {
    padding:0;
  }
  article header.entry-header {
    display:none;
  }
}

