h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 0 0 .54em;
}


.entry-content,
.entry-summary {
	border-color: #d1d1d1;
}

h1,h1.entry-title, h1.page-title,.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1, .entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	font-size: 1.75rem;
	font-weight: 900;
	line-height: 1.25;
	margin: 0.9231em 0;
	margin-top: 1.2em;
	@media screen and (min-width: 46.25em) {
		font-size: 28px;
		line-height: 1.2;
		margin:28px 0;
	}
	@media screen and (min-width: 68.75em) {
		font-size: 30px;
		line-height: 1.2308;
		margin: 28px 0;
	}
}

h2,h2.entry-title,.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2 {
	font-size: 1.45rem;
	font-weight: 700;
	line-height: 1.25;
	margin: 0.9231em 0;
	@media screen and (min-width: 46.25em) {
		font-size: 24px;
		line-height: 1.2;
		margin: 1.2em 0;
	}
	@media screen and (min-width: 68.75em) {
		font-size: 28px;
		line-height: 1.2;
		margin: 1.2em 0;
	}
	a  {
		text-decoration: none!important;
	}
}

h1,.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	line-height: 1.25;
	margin: 1em 0;
	@media screen and (min-width: 55em) {
		line-height: 1.2308;
		margin: 1.2308em 0;
	}
}

h1.page-title { 
	margin-top: 0;
}

h2,.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2, .page-content h2 {
	line-height: 1.2173913043;
	margin: 1.2173913043em 0;
	@media screen and (min-width: 55em) {
		font-size: 28px;
	}
	@media screen and (min-width: 68.75em) {
		line-height: 1.2069;
		margin: 1.931em 0;
	}
	@media screen and (min-width: 77.5em) {
		line-height: 1.25;
		margin: 2em 0;
	}
}

h3, .entry-content h3,
.entry-summary h3,
.comment-content h3,
.textwidget h3 {
	font-size: 1.1875rem;
	line-height: 1.1052631579;
	margin: 1.95em 0;
	@media screen and (min-width: 46.25em) {
		font-size: 20px;
	}
	@media screen and (min-width: 68.75em) {
		font-size: 24px;
	}
}
header::after {
    clear: both;
    content: "";
    display: block;
}
body.boxed-header header:not(.no-bgcolor)>h1 {
    margin-bottom: 2rem;
    background-color: $color__primary; 
    color: #fff;
    padding: 18px;
    letter-spacing: 5px;
    float: right;
    text-transform: uppercase;
    clear: both;
    margin-top: 2rem;
	@media(max-width:400px) {
		font-size: 18px;
	}
}
body.boxed-header header>h1:before {
	background-color: $color__secondary!important;
}


.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
}

.entry-content h4,
.entry-summary h4,
.comment-content h4,
.textwidget h4 {
	letter-spacing: 0.140625em;
	text-transform: uppercase;
}

.entry-content h6,
.entry-summary h6,
.comment-content h6,
.textwidget h6 {
	font-style: italic;
}

.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-weight: 500;
}
header {
	.term-description {
		display: inline-block;
	}
}