.entry-content,
.entry-summary {
	padding-top: 15px;
}
h2,h2.entry-title,.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2 {
	a  {
		text-decoration: none!important;
	}
}

header::after {
    clear: both;
    content: "";
    display: block;
}

header {
	.term-description {
		display: inline-block;
	}
}