.entry-content,
.entry-summary {
	border-color: #d1d1d1;
}

h1,h1.entry-title, h1.page-title,.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1, .entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	line-height: 1.25;
	@media screen and (min-width: 46.25em) {
		line-height: 1.2;
		
	}
	@media screen and (min-width: 68.75em) {
		line-height: 1.2308;
	}
}

h2,h2.entry-title,.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2 {
	line-height: 1.25;
	@media screen and (min-width: 46.25em) {
		line-height: 1.2;
	}
	@media screen and (min-width: 68.75em) {
		line-height: 1.2;
	}
	a  {
		text-decoration: none!important;
	}
}

h1,.entry-content h1,
.entry-summary h1,
.comment-content h1,
.textwidget h1 {
	line-height: 1.25;
	@media screen and (min-width: 55em) {
		line-height: 1.2308;
	}
}

h1.page-title { 
	margin-top: 0;
}

h2,.entry-content h2,
.entry-summary h2,
.comment-content h2,
.textwidget h2, .page-content h2 {
	line-height: 1.2173913043;
	
	@media screen and (min-width: 68.75em) {
		line-height: 1.2069;
	}
	@media screen and (min-width: 77.5em) {
		line-height: 1.25;
	}
}

h3, .entry-content h3,
.entry-summary h3,
.comment-content h3,
.textwidget h3 {
	line-height: 1.1052631579;
	@media screen and (min-width: 46.25em) {
		margin-top: 0;
	}
	@media screen and (min-width: 68.75em) {
		margin-top:  0;
	}
}
.page-header {
	.archive-description {
		width: 100%;
    	display: flex;
		margin-bottom: 40px;
		@media screen and (min-width:768px) {
			margin-bottom: 30px;
		}
	}
}
header::after {
    clear: both;
    content: "";
    display: block;
}
body.boxed-header header:not(.no-bgcolor)>h1 {
    background-color: var(--paddle-color-1); 
    color: #fff;
    padding: 18px;
    letter-spacing: 5px;
    float: right;
    text-transform: uppercase;
    clear: both;
	@media(max-width:400px) {
		font-size: 18px;
	}
}
body.boxed-header header>h1:before {
	background-color: var(--paddle-color-1);
}
p.site-title { margin: 0; line-height: 0;  font-weight: var(--paddle-font-h1-weight)}

header {
	.term-description {
		display: inline-block;
	}
}