html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    color: var(--paddle-color-3);
	font-family: var(--paddle-font-body-family);
	line-height: $font__line-height-body;
	font-size: var(--paddle-font-body-size);
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--paddle-color-body-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: .5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: var(--paddle-color-0)
}
h1>a,
h2>a,
h3>a,
h4>a {
	color: var(--paddle-color-0)
} 
h1 {
    font-size: var(--paddle-font-h1-size); //font-size: 2.5rem
	font-weight: var(--paddle-font-h1-weight);
}

h2 {
    font-size: var(--paddle-font-h2-size);//font-size: 1.75rem
	font-weight: var(--paddle-font-h2-weight);
}

h3 {
    font-size: var(--paddle-font-h3-size);//font-size: 1.5rem
}

h4 {
    font-size: var(--paddle-font-h4-size); //font-size: 1.25rem
}

h5 {
    font-size: var(--paddle-font-h5-size); //font-size: 1.1rem
}

h6 {
    font-size: var(--paddle-font-h6-size); //: 1rem
}

p {
    margin-top: 0;
    margin-bottom: var(--paddle-paragraph-m-bottom);
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid var(--paddle-color-1);
	border-color: var(--paddle-color-1);
	font-style: italic;
	line-height: 1.6667;
	margin-bottom: 1.6667em;
	padding-left: 0.7778em;
}

blockquote p {
	margin-bottom: 1.6667em;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #333;
	font-size: 15px;
	font-size: 1.5rem;
	
	line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}

abbr[title] {
	border-bottom: 1px dotted #eaeaea;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}


@import "headings";
@import "copy";
