/*
 * Footer
 */

.site-footer {
  padding: 0 0;
  color: #5c5c5c;
  background-color: #f9f9f9;
  border-top: 0;

  p:last-child {
    margin-bottom: 0;
  }


  .theme-credit {
    font-size: .99rem;

    a {
      color: #999;
      text-decoration: underline;
    }
  }

  .site-info {
    border-top: 1px solid #f0f0f0;
    background-color: whitesmoke;
    >.container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  
      @media (min-width:992px) {
        flex-direction: row;
      }
    >div {
      flex-grow: 1; // flex item
    }
    }

    .footer-copyrights {
      font-size: 100%;
      @media (min-width:992px) {
        text-align: left;
      } 
      a {
        text-decoration: none!important;
        color: currentColor;
      }
     }
  }
}

.footer-widgets {
  .container, .container-fluid {
    padding-top: 20px;
    padding-bottom: 50px;
    @media (min-width:992px) {
      padding: 20px 0px 50px 0;
    }
    
  }
  

  h2.widget-title {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 1.8em;
    letter-spacing: 0.04em;

    &:before {
      content: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      margin-bottom: 12px;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 20px;

      >a {
        color: #586870;
      }
    }
  }

  div[class*=" col-"] {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }

  @media screen and (max-width:992px) {
    div[class*=" col-"]:not(:last-child) {
      border-bottom: 1px dashed #ccc;

    }
  }
  #footer-logo {
    padding-bottom:0;
    padding-left: 0;
    .custom-logo-link {
      max-width: 200px;
    }
  }
}