/* Site Header - Shared CSS */

.site-header {
    line-height: 1;
}

/*-------------------------------------------- 
Off canvas Navigation 
--------------------------------------------- */
body.logged-in [data-menu="offcanvas"] .offcanvas-header {
    margin-top: 50px; // For logged in user so admin bar do not overlap
}

.paddle-theme-dialog-overlay[aria-hidden="true"] {
    display: none;
}

.paddle-theme-dialog-overlay:not([aria-hidden="true"]) {
    display: block;
}

.paddle-theme-dialog-overlay {
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

[data-menu="offcanvas"] {
    .offcanvas-header {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button.btn-close.text-reset {
            position: relative;
            margin: 0;
            align-items: center;
            font-size: 1rem;
            font-weight: 500;
            justify-content: flex-end;
            padding: 0 3rem 0 0;
            min-height: 40px;
            width: 100%;
            border-bottom: 1px solid;
            border-radius: 0;
            background-color: transparent;
            cursor: pointer;
            opacity: 1;
            &::after {
                left: calc(100% - 46px);
                top: 0;
                color: currentColor;
            }

            .toggle-text {
                display: block;
                width: 100%;
                text-align: right;
            }
        }
    }

    .paddle-theme-dialog {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1051;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 1rem 1rem;
        overflow-y: auto;
        max-width: 100%;
        background-color: #fff;
        max-width: 120rem;
        width: calc(100% - 4rem);
        background: #fff;
        border-right: 1px solid rgba(0, 0, 0, .2);
        background-clip: padding-box;
        outline: 0;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;

        nav {
            display: block;
            width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;

            ul {
                display: block;
                list-style: none;
                padding-left: 0;
                margin-left: 0;

                li {
                    position: relative;
                    border-style: solid;
                    border-color: #ededed;
                    border-width: .1rem 0 0 0;
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 1;
                    justify-content: flex-start;
                    margin: 0;

                    .link-wrap {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        flex: 1;

                        a {
                            display: block;
                            padding: 1rem 1.5rem;
                            line-height: 1.5rem;
                            text-decoration: none;
                            width: 100%;
                        }
                    }

                    button.toggle.submenu-expand {
                        background: unset;
                        border: unset;
                        color: unset;
                        margin-top: -1px;
                        border-left: .1rem solid #ededed;
                        -ms-flex-negative: 0;
                        flex-shrink: 0;
                        padding: 0 .9rem;
                    }
                }

            }

            ul#offcanvas-menu-items {
                margin: 0;
                padding: 0;

                li {
                    &:first-child {
                        border-top: 1px solid transparent;
                    }
                }

                >li.header-cta-menu {
                    border-top: 1px solid transparent;
                    margin-top: 1.5rem;
                    margin-bottom: 1rem; 

                    .btn {
                        letter-spacing: 1px;
                        font-size: 100%;
                        text-transform: uppercase;
                    }
                }

            }

            ul:not(.sub-menu)>li>div>a,
            ul:not(.children)>li>div>a {
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: -0.0375em;
            }

            .sub-menu,
            .children {
                width: 100%;
                display: none;
                //@media screen and (max-width: 320px) {
                margin-left: 0;
                padding-left: 1rem;

                ul {
                    margin-left: 0;
                    padding-left: 1.1rem;
                }

                //}
            }

            .sub-menu.active-panel,
            .children.active-panel {
                display: block;
            }

            .menu-item:hover>span svg,
            .submenu-expand svg {
                height: .9rem;
                fill: currentColor; //fill: $color__primary;
                transition: transform .15s linear;
                width: 1.5rem;
            }

            .menu-item:hover>span svg,
            .submenu-expand.active svg {
                transform: rotate(180deg);
            }
        }

        // Nav

    }

	/*
    .paddle-theme-dialog[aria-hidden="true"] {
        //display: none;
    }
	*/

    .show-dialog {
        transform: translateX(-0%);
    }

    .hide-dialog {
        transform: translateX(-100%);
    }
}
