/***************************************
Custom Header
*************************************** */

.wp-custom-header {
  iframe,
  img,
  video {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.home-banner-content.outer {
  padding: 60px 30px;
  position: relative;
  @media (min-width: 576px) {
    padding: 80px 30px;
  }
  @media (min-width: 768px) {
    padding: 160px 45px;
  }
  @media (min-width: 992px) {
    padding: 200px 45px;
  }
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 2rem;
  animation: fadeInOpacity 1s linear forwards;
  @media (min-width: 768px) {
    p {
      font-size: 20px;
      font-size: 1.25rem;
    }
  }
  h1 {
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 700;
    float:none!important;
    margin-bottom: 10px;
    margin-top: 10px;
    &:before {
      content: none;
    }
    @media (min-width: 768px) {
      font-size: 40px;
      font-size: 2.5rem;
    }
  }
  .home-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  .home-banner-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    color: #fff;
    text-align: center;
    z-index: 2;

    .board {
      text-align: left;
      padding: 30px;
      margin: 0 auto;
      max-width: 300px;
      .home-banner-cta-button-container {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        > a {
          position:relative;
          margin-top: 32px;
          line-height: 24px;
          padding: 12px 32px;
          font-weight: 600;
          outline: none;
          text-decoration: none;
          white-space: nowrap;
          transition: all 0.25s ease;
          min-width: 200px;
          &:hover {
            &:before{
              background: rgba(0,0,0,.6);
            }
          }
        }
        .with-arrow-right {
          &:before {
            content: url('data:image/svg+xml; utf8, <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="white" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>');
            position:absolute;
            right: 10px;
            margin-right: 10px;
            max-height: 24px;
    				background: rgba(0,0,0,.2);
            transition: .5s ease-in-out;
          }
        }
        @media (min-width: 768px) {
          flex-direction: row;
        }
      }
      .group-btn.btn__curves .no-rounded-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .group-btn.btn__curves .no-rounded-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      @media (min-width: 576px) {
        max-width: 400px;
      }
      @media (min-width: 768px) {
        max-width: 570px;
      }
      @media (min-width: 992px) {
        max-width: 700px;
      }
    }
  }
  .home-banner-content.content-left {
    align-items: flex-start;
    @media (min-width: 768px) {
      .board {
        max-width: 570px;
        margin: 0;
      }
    }
  }
  .home-banner-content.content-right {
    align-items: flex-end;
    @media (min-width: 768px) {
      .board {
        max-width: 700px;
        margin: 0;
      }
    }
  }
  .home-banner-image {
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.content-over-header {
  @media screen and (min-width: 768px) {
    position: relative;
    margin-top: -200px;
    background: #ffffff;
    z-index: 2;
    padding-top: 3.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*_______________ Frontpage slider ____________*/
#paddle-slider {
  transition-duration: .8s;
  overflow:hidden;
  min-height: 250px;
  .board {
    position: absolute;
  }
  .light-box-shadow {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 1px #ffffff;
  }
  @media screen and (max-width:600px) {
    .home-banner-content {
      align-items: center;
    }
  }
}

.paddle-front-page-slider {
  .slideshow-content {
    display: none;
    width: 100%;
    padding: 200px 45px;
    p.home-banner-summary {
      display:none;
      @media screen and (min-width:768px) {
        display:block
      }
    }
  }
  .slideshow-content.brush-swipe:before {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: -30%;
    bottom: 0;
    position: absolute;
    background-image: url('../assets/images/white-swipe.png');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: .3;
    animation: brush 1s linear forwards;
  }
  .slider-control-navigation {
    display: flex;
    position: absolute;
    bottom: 20px;
    padding: 8px 12px;
    background-clip: content-box;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s cubic-bezier(0.44, 0.13, 0.48, 0.87), background-color 0.2s cubic-bezier(0.44, 0.13, 0.48, 0.87);
   @media (max-width:400px) {
     bottom:0px;
   }
  }
  .fixed-to-right-side-bottom {
    left: 0;
  }
  .fixed-to-right-side-centered {
    left: 0;
    bottom: upset;
  }
  .slide-number-holder {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    .numbertext {
      position: relative;
      span {
        padding: 0 15px;
      }
      &:after {
        position: absolute;
        content: '';
        height: 30px;
        width: 1px;
        background: #fff;
        left: 50%;
        top: 5px;
        transform-origin: center;
        transform: rotate(30deg);
      }
    }
  }
  .prev-slide,
  .next-slide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
    transition: 0.2;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .next-slide {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev-slide {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .dots-container {
    text-align: center;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 18px 18px;
    z-index: 2;
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 4px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      position: relative;
      .dot-inner {
        transition: background-color 0.3s ease, transform 0.3s ease;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0.3);
        text-indent: -999em;
        cursor: pointer;
        position: absolute;
      }
    }
    .dot.active,
    .dot:hover {
      box-shadow: 0 0 0 2px #ffffff;
      border: none;
      border-radius: 50%;
      background: transparent;
    }

    .dot:hover .dot-inner,
    .dot.active .dot-inner {
      background-color: rgba(255, 255, 255, 1);
      transform: scale(0.4);
    }
    @media screen and (min-width:768px) {
      display:inline-flex;
    }
  }
}

/* Grouped Nav */ 
.paddle-front-page-slider.grouped-nav .slide-number-holder {
  background-clip: content-box;	bottom: 20px;
  left:unset;
  right:0;
}
.paddle-front-page-slider.grouped-nav .next-slide, .paddle-front-page-slider.grouped-nav .prev-slide {
  cursor: pointer;
  position: unset; 
  padding: 0.5rem 0.9rem;
  margin: unset;
  color: #aaa;
  border-radius: 0!important;
  background: rgba(0,0,0,.4);
}
.paddle-front-page-slider.grouped-nav .slide-number-holder { position: unset; padding: unset;}
.paddle-front-page-slider.grouped-nav .next-slide:hover, .paddle-front-page-slider.grouped-nav .prev-slide:hover {
  color:#fff;
}
.paddle-front-page-slider.grouped-nav .dots-container {
  position: unset; 
  padding: unset; 
  margin: 0 0.75rem;
}
.paddle-front-page-slider.grouped-nav .slide-number-holder {color: unset; font-weight:unset}

.paddle-front-page-slider:hover .slider-control-navigation button {
  color:#fff;
}
.home-banner .home-banner-content .board .home-banner-cta-button-container>a {
  padding: 18px 4em 14px;
}

// Others
.animate-up { transform-origin: 50% 50%;
  opacity: 0;
  transform: translate(0px, 90px);
  visibility: hidden;
  transition-delay: .5s;
  transition-timing-function: ease;
  transition: .7s;}
  .animate-up-active {
    visibility: visible;
    transform: translate(0px, 0px);
    opacity: 1;
  }
.background-scale {
  transform: scale(1.041);
  transition: 2s;
}

@keyframes brush {
  100% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(-50%,5%);
  }
  0% {
    transform: translate(-100%,12%);
  }
}	

@keyframes brush-reverse {
  0% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(-50%,5%);
  }
  100% {
    transform: translate(-80%,12%);
  }
}	

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    
  }
  50% {
    opacity: .6;
    
  }
  80% {
    opacity: 1;
    
  }
  100% {
    opacity: 1;
    
  }
}


/***************************************
Note: Remove all the code below. For development only
See: #paddle-slider, .brush-swipe:before, .fixed-to-right-side-centered, .paddle-front-page-slider.grouped-nav,
.with-arrow-right
Todo: 1. create option to display natigation as grouped or scattered
2. option for background swipe overly, dark overlay, no overlay, 
3. primary button with arrow right or without
To do before Resubmission!!! Remove the duplicate CSS below!!!
*************************************** */
.paddle-front-page-slider .slideshow-content:before {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: -30%;
  bottom: 0;
  position: absolute;
  background-image: url('../assets/images/white-swipe.png');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: .3;
  animation: brush 1s linear forwards;
}


.paddle-front-page-slider .slide-number-holder {
  background-clip: content-box;	bottom: 20px;
  left:unset;
  right:0;
}
.paddle-front-page-slider .next-slide, .paddle-front-page-slider .prev-slide {
  cursor: pointer;
  position: unset; 
  padding: 0.5rem 0.9rem;
  margin: unset;
  color: #aaa;
  background: rgba(0,0,0,.5);
    border-color: transparent;
    border-radius: 0;
}
.paddle-front-page-slider .slide-number-holder { position: unset; padding: unset;}
.paddle-front-page-slider .next-slide:hover, .paddle-front-page-slider .prev-slide:hover {
  color:#fff;
}
.paddle-front-page-slider .dots-container {
  position: unset; 
  padding: unset; 
  margin: 0 0.75rem;
}
.paddle-front-page-slider .slide-number-holder {color: unset; font-weight:unset}
.home-banner-cta-button-container>a {position:relative; transition-delay: 0.25s; transition: background 0.2s ease 0s; overflow: hidden;}
.home-banner-cta-button-container>a:before {
  content: url('data:image/svg+xml; utf8, <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="white" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>');
  position:absolute;
  right: 10px;
  margin-right: 10px;
  max-height: 24px;
    background: rgba(0,0,0,.2);
}
.paddle-front-page-slider:hover .home-banner-cta-button-container>a{
  transition-delay:0.25s
}
.paddle-front-page-slider:hover .home-banner-cta-button-container>a:after{
  animation: shine 0.75s cubic-bezier(0.01, 0.56, 1, 1);
  
}
.home-banner-cta-button-container>a:after {
 
  content: "";
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    transform: skewX(-20deg);
    background-image: linear-gradient(90deg,transparent, hsla(0, 0%, 100%, 0.25),transparent);
}
@keyframes shine{
  to{
    left:-200%;
  }
}
.paddle-front-page-slider .btn-primary {
  padding: 18px 47px 14px;
  border-radius: 50px;
  text-transform: uppercase;
  line-height: normal;
  text-align: center;
  background-color: #000;

}

