/* Post Navigation, Comment Navigation, Mobile Nav */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
		margin-bottom:4rem;
		font-weight:700;
		padding-top: 2rem;
    	border-top: 1px solid #f2f2f2;
		a::before {
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			top:5px;
			opacity: .7;
			}
	}

	.nav-previous a, .nav-next a {
		display: block;
		text-decoration: none!important;
	
	}

	.nav-previous {
		flex: 1 0 50%;
		position: relative;
		max-width: 50%;
		a {
			margin-left: 30px;
		}	
		::before {
			left: 0;
			transform: rotate(180deg);
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAzLjc5NWwyLjk5NS0yLjk4IDExLjEzMiAxMS4xODUtMTEuMTMyIDExLjE4Ni0yLjk5NS0yLjk4MSA4LjE2Ny04LjIwNS04LjE2Ny04LjIwNXptMTguMDQgOC4yMDVsLTguMTY3IDguMjA1IDIuOTk1IDIuOTggMTEuMTMyLTExLjE4NS0xMS4xMzItMTEuMTg2LTIuOTk1IDIuOTggOC4xNjcgOC4yMDZ6Ii8+PC9zdmc+");
		}
		
	}


	.nav-next {
		text-align: end;
		flex: 1 0 50%;
		position: relative;
		max-width: 50%;
		a {
			margin-right: 30px;
		}
		::before {
			right: 0;
			background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAzLjc5NWwyLjk5NS0yLjk4IDExLjEzMiAxMS4xODUtMTEuMTMyIDExLjE4Ni0yLjk5NS0yLjk4MSA4LjE2Ny04LjIwNS04LjE2Ny04LjIwNXptMTguMDQgOC4yMDVsLTguMTY3IDguMjA1IDIuOTk1IDIuOTggMTEuMTMyLTExLjE4NS0xMS4xMzItMTEuMTg2LTIuOTk1IDIuOTggOC4xNjcgOC4yMDZ6Ii8+PC9zdmc+");
		}
	}
}
.post-navigation .nav-links {
    border-top: 3px dotted #bbb;
}

/* Bootstrap Off Canvas */
@media (max-width: 767px) {
	.navbar-offcanvas.offcanvas-transform.in {
		background: #fff;
		overflow-x: hidden;
		min-width: 280px;
	}
}

/* Offcanvas menu */ 
.offcanvas-nav-menu {
	
	 ul {
		list-style-type: none;
		clear: both;
		line-height: 1;
		margin: 0;
		padding: 0;
		padding-right: 1rem;
    	padding-left: 1rem;
		width: 100%;
	}

	.menu-item {
		list-style: none;
		position: relative;
		float: none;
	}

	.menu-item a {
		border: none;
		display: block;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		position: relative;
		text-decoration: none;
	}

	#off-canvas-primary-menu .menu-item > a {
		padding: 20px 0;
		line-height: 22px;
	}

	#off-canvas-primary-menu .menu-item.menu-item-has-children {
		position: relative;
		
	}

	.submenu-expand {
		transition: 300ms;

	}

	#off-canvas-primary-menu .submenu-expand svg {
		width: 16px;
		height: 16px;
	}

	#off-canvas-primary-menu .submenu-expand {
		display: flex;
		align-items: center;
		cursor: pointer;
		outline: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 32px;
		height: 56px;
		text-align: center;
		line-height: 0;
	}

	#off-canvas-primary-menu .sub-menu {
		display: none;
	}
	#off-canvas-primary-menu .active .sub-menu.active-panel {
		display: block;
	}

	.menu-item:hover>span svg,  .submenu-expand.active svg {
		fill: $color__primary;
		transform: rotate(180deg);
		transition: .3s;
	}

	#off-canvas-primary-menu .submenu-expand.expanded + .sub-menu li {
		position: relative;
		padding-left: 40px;
		float: none;
	}
	#off-canvas-primary-menu .active .sub-menu.active-panel .menu-item > a {
		padding: 20px 0;
	}
	#off-canvas-primary-menu  .menu-item:not(:last-child):not(:first-child) {
		border-top: 1px solid #eee;
	}

	svg {
		width:1rem;
	}
	
}
