$color__background-pre: #eee;

$color__primary: #4D656D;//#dd9933;
$color__secondary: #D5A960; 

$_color-base: #182230;
$_color-primary: #016edb;
$_color-secondary: #0357ab;
$_color-base-secondary: #2a3a51;
$_color-border :#e7e7e7;
$_color-light : #FFFFFF;
$_color-background-screen: #f1f1f1;

/*
:root {
    --paddle-color-0: #{$_color-base}; // H1 - H6
    --paddle-color-1 : #{$_color-primary}; // button background, body link colour
    --paddle-color-2 : #{$_color-secondary}; // Link hover color, Button bg color
    --paddle-color-3 : #{$_color-base-secondary}; // Body text color
    --paddle-color-4 : #{$_color-border}; // border, input
    --paddle-color-5 : #{$_color-light}; // body background color
    --paddle-color-6 : #{$_color-background-screen}; // focus, accesibility
    
}
*/