button:not(.btn),
input[type="button"]:not(.btn),
input[type="reset"]:not(.btn),
input[type="submit"]:not(.btn) {
	border-color: $color__border-button;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		outline:none;
	}
}

.btn-rounded {
    border-radius: 40px;
    color: #fff;
    border: 2px solid transparent;
}

a.btn.btn-primary.btn-lg {
	padding: 15px 25px;
}
 a.btn.btn-primary:hover, a.btn.btn-primary:focus {
    background-color:#fff;
}
#header-btn-cta {
	margin-left: auto;
}
#header-btn-cta a {
	font-weight: 700;
    letter-spacing: 0.0333em;
	padding: 15px 25px!important }

@media (max-width:767px) {
	#header-btn-cta {
		bottom: 0;
		padding: 1.5rem;
		clear: both;
		margin-bottom: 2rem;
		margin-top: 3rem;
		left: -50vw;
		margin-left: 50%;
		max-width: none;
		overflow: hidden;
		top: 0;
		width: 100vw;
		a {
			border-radius: 0;
			width: 100%;
			padding: 15px 30px !important;
			text-transform: uppercase;
		}
	}
	
}

.btn-uppercase {
	font-weight: 600;
    letter-spacing: 0.0333em;
    text-transform: uppercase;
}