
button:not(.btn),
button:not(.btn-close),
input[type='button']:not(.btn),
input[type='reset']:not(.btn),
input[type='submit']:not(.btn) {
  background: $color__primary;
  border: 1px solid transparent;
  color: #fff;
  padding: .7em 1.5em;
  line-height: 1;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  &:hover {
    color: #fff;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
    //outline: none;
  }
}

.btn-primary {
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 600;
  min-width: 167px;
  padding: 18px 47px 14px;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  background-color: $color__primary;
}
.btn-primary.r-50 {
  border-radius: 50px;
}
.btn-primary.r-none {
  border-radius: 0px;
}

.btn-uppercase {
  font-weight: 600;
  letter-spacing: 0.0333em;
  text-transform: uppercase;
}

a.btn.btn-primary.btn-lg {
  padding: 15px 25px;
}
a.btn.btn-primary:hover,
a.btn.btn-primary:focus {
  background-color: #fff;
  color: $color__primary;
}

.btn-outline-primary {
  color: $color__primary;;
  border-color: $color__primary;;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: $color__primary;
  border-color: $color__primary;
}

.btn-rounded {
  border-radius: 40px;
  border: 2px solid transparent;
}



