input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--paddle-color-0);
	border: 1px solid var(--paddle-color-4);
	border-radius: 3px;
	padding: 9px;
    outline: 0;
	box-sizing: border-box;
    font-weight: 400;
    font-size: 1em;
    vertical-align: baseline;
    width: 100%;

	&:focus {
		color: var(--paddle-color-3);
	}
}

select {
	border: 1px solid var(--paddle-color-4);
}

textarea {
	width: 100%;
}
