
a {
    color: $color__primary;
    text-decoration: underline;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
#masthead.site-header .site-title>a {
text-decoration: none;
}

 a {
	&:active  {
		text-decoration: underline;
	}
}
a:not([class*="wp-block-"]):not(.author-link):not(.post-entry-link) {
    text-decoration: underline;
}
 a:not([class*="wp-block-"]):hover,  a:focus, a:active {
    color: $color__primary;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.post-entry-link {
    font-weight: 900;
} 

#primary {
    main {
        .entry-title {
            a {
                color: currentColor;  
                transition: linear 0.1s;
            }
        }
    }
} 