
a {
    color: var(--paddle-color-1);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

#masthead.site-header .site-title>a, #masthead a:not(.btn) {
text-decoration: none;
color: var(--paddle-color-1);
&:hover {
    color: var(--paddle-color-2);
}
}

 a {
	&:active  {
		text-decoration: underline;
	}
}
/*
a:not([class*="wp-block-"]):not(.author-link):not(.post-entry-link) {
    text-decoration: underline;
}
*/
.widget-area a, .widget a { text-decoration: none;}

 a:not([class*="wp-block-"]):hover,  a:focus, a:active, .widget-area a:hover {
    color: var(--paddle-color-2);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#primary {
    main {
        .entry-title {
            a {
                transition: linear 0.1s;
            }
        }
    }
} 