
a {
    color: var(--paddle-color-1);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

#masthead.site-header .site-title>a, #masthead a:not(.btn) {
text-decoration: none;
color: var(--paddle-color-1);
&:hover {
    color: var(--paddle-color-2);
}
}

 a {
	&:active  {
		text-decoration: underline;
	}
}
/*
a:not([class*="wp-block-"]):not(.author-link):not(.post-entry-link) {
    text-decoration: underline;
}
*/
.widget-area a, .widget a { text-decoration: none;}

 a:not([class*="wp-block-"]):hover,  a:focus, a:active, .widget-area a:hover {
    color: var(--paddle-color-2);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#primary {
    main {
        .entry-title {
            a {
                transition: linear 0.1s;
            }
        }
    }
} 

/*
pagination links
*/
.post-page-numbers {
    padding: 0;
    margin: 0 0 0.3em 0.3em;
    font-size: .8em;
    line-height: calc( 2.5em - 4px);
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    transition: all .2s linear;
}
a.post-page-numbers {
    border: 2px solid gainsboro;
    color: #000;
    background: 0 0;
}
span.post-page-numbers.current {
    border: 2px solid transparent;
    color: white;
    background: var(--paddle-color-1);
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}