ul,
ol {
	margin: 0;

}

.widget ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
.entry-content ul, .entry-content ol {
    padding: revert;
    margin: revert;
}
